{% extends 'base.html' %}

{% block content %}

<div class="container col-8 my-5 py-5 text-center">
    <h1 class="my-5 pt-4">¡Bienvenido {{nombre_usuario|capfirst}}!</h1>

    <h3>¡Actualiza Tus Datos!</h3>
    <h4 class="mt-5 mb-2">
        Para acceder a todas las funciones disponibles como arrendatario o arrendador <br> es necesario que actualices tus datos.
    </h4>
    <div class="text-center my-4  pb-5">
        <a class="btn btn-primary  mb-5 mt-5" href="{% url 'actualizar_datos' %}">Actualizar Datos</a>
    </div>
</div>
{% endblock %}
