{% extends 'base.html' %}

{% block content %}

<div class="container col-8 mt-4 text-center">
    <h1 class="my-5">¡Bienvenido {{nombre_usuario|capfirst}}!</h1>

    <h3>¡Actualiza Tus Datos!</h3>
    <p>
        Para acceder a todas las funciones disponibles como arrendatario o arrendador, es necesario que actualices tus datos.
    </p>
    <div class="text-center my-4">
        <a class="btn btn-primary" href="{% url 'actualizar_datos' %}">Actualizar Datos</a>
    </div>
</div>
{% endblock %}
