{% load static %}
{% load custom_filters %}

<div class="container">
    <nav class="navbar navbar-expand-lg " style="background:rgb(26, 33, 37);">
        <div class="container-fluid" style="background:rgb(27, 32, 35);">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'bienvenido' %}">Bienvenido</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'actualizar_datos' %}">Actualizar Datos</a>
                </li>
                
                {% if user.usuario.tipo_usuario.nombre == 'Arrendador' %}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'crear_inmueble' %}">Publicar Inmueble</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'mis_inmuebles' %}">Mis Inmuebles</a>
                </li>
                {% elif user.usuario.tipo_usuario.nombre == 'Arrendatario' %}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'buscar_propiedad' %}">Buscar propiedad</a>
                </li>
                {% endif %}
                {% endif %}
                
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'registro' %}">Registro</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>

            <!--boton mi cuenta, formulario inicio sesion y boton que deriva a pag de registro -->

                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button id="myDropdownButton" type="submit" class="btn btn-primary" style="font-weight: 600;">
                            Cerrar sesión de {{ nombre_usuario|capfirst }}
                        </button>
                    </form>
                {% else %}
            <button type="button" id="myDropdownButton" class="btn dropdown-toggle ms-3 btn-primary" style="font-weight: 600;" data-bs-toggle="dropdown" aria-expanded="false">
                Mi Cuenta
            </button>    
            <ul class="dropdown-menu dropdown-menu-end p-4" style="min-width: 300px; background-color: #1b2023">
                    <!-- formulario de inicio de sesión -->
                    {% if error_message %}
                        <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    <form style="background-color: #1b2023" method="post" action="/accounts/login/">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" id="username" name="username" class="form-control"  placeholder="abc123@gmail.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" id="password" name="password" class="form-control"  placeholder="******" required>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                        </div>    
                    </form>
                
                <div class="text-center mt-3">
                    <a href="{% url 'registro' %}" class="link-primary">¿No tienes cuenta? Regístrate</a>
                </div>
                
            </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
