{% extends "base.html" %}

{% block content %}

<h2 class="text-center mt-5 mb-4">Iniciar sesion</h2>
<div class="container d-flex justify-content-center align-items-center mb-5" >
    <form  class="form" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center mb-3">
            <button class="btn btn-primary " type="submit">Iniciar sesion</button>
        </div>
        <div>
            <a href="{% url 'registro' %}" class="link-primary">¿No tienes cuenta? Regístrate</a>
        </div>    
    </form>
</div>

{% endblock %}




