.card-img-custom {
    height: 200px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin deformarla */
}

.card {
    height: 100%; /* Asegura que la tarjeta ocupe todo el espacio del contenedor */
    display: flex;
    flex-direction: column; /* Asegura que el contenido de la tarjeta esté alineado verticalmente */
}

.card-body {
    flex: 1; /* Permite que el cuerpo de la tarjeta ocupe el espacio disponible */
}
